.btn-like {
	display: flex;
	align-items: flex-start;
	background-color: transparent;
	border: none;
	cursor: pointer;
	height: fit-content;
}

.btn-like:hover > .btn-like__icon {
	fill: #f36223;
}

.btn-like:active > .btn-like__icon {
	fill: #a93a09;
}
