/*Стили для радио-кнопки начало*/
.radio-btn {
	position: relative;
	cursor: pointer;
}

.radio-btn:hover > .radio-btn__elem {
	background-color: #f2f2f2;
}
.radio-btn__input:checked ~ .radio-btn__elem {
	border: 2px solid #f36223;
}

.radio-btn__input:active ~ .radio-btn__elem {
	border: 2px solid #a93a09;
}

.radio-btn__elem {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #888888;
	border-radius: 4px;
}

.radio-btn__elem-img {
	min-width: 80px;
	min-height: 80px;
}

.radio-btn__elem-btn {
	padding: 10px 20px;
}
/*Стили для радио-кнопки конец*/
