/*Форма отставить отзыв начало*/

.form {
	max-width: 880px;
	width: 100%;
	margin-left: 130px;
}

@media (max-width: 1023.9px) {
	.form {
		margin-left: 0;
	}
}

.feedback-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	max-width: 710px;
}

.feedback-form__title {
	font-weight: 700;
}

.feedback-form__field {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.feedback-form__findings {
	display: flex;
	gap: 40px;
	height: 49px;
}

.findings__username {
	width: 495px;
	padding: 15px 20px;
	border: 1px solid #888888;
}

.findings__estimate {
	width: 175px;
	padding: 15px 20px;
	border: 1px solid #888888;
}

.text__review {
	width: 100%;
	height: 190px;
	border: 1px solid #888888;
	padding: 15px 20px;
	resize: none;
}

.findings__input:hover {
	border: 1px solid black;
}

.findings__input:focus {
	border: 1px solid black;
}

.findings__input.error {
	border-color: #da4a0c;
}

.findings__wrapper {
	position: relative;
	width: 100%;
}

.findings__error {
	display: none;
	padding: 8px 20px;
	background-color: #da4a0c;
	color: white;
	font-size: 12px;
	z-index: 1;
}

.findings__input.error ~ .findings__error {
	display: block;
}

/*Форма оставить отзыв конец*/
