/*Параметры продукта начало*/
.product-content__params {
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 0;
	flex-grow: 1;
}

.params-section {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
/*Параметры продукта конец*/
