/*Описание продукта начало*/
.product-image {
	display: flex;
	flex-direction: column;
	gap: 30px;
	margin-bottom: 30px;
}
.product-image__title {
	font-size: 32px;
	line-height: 39px;
}

.product-image__pic {
	display: flex;
	gap: 10px;
}

@media (max-width: 1023.99px) {
	.product-image__pic {
		margin-right: -8px;
		overflow-x: auto;
	}
}

.product-image__pic-item {
	max-height: 387px;
}
/*Описание продукта конец*/
