.params-section__list-item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.params-section__list-item::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #888888;
	border-radius: 50%;
}
