.btn {
	padding: 10px 20px;
	cursor: pointer;
	background-color: transparent;
	border-radius: 4px;
	border: 1px solid #888888;
}

.btn:hover {
	background-color: #da4a0c;
}

.btn:active {
	background-color: #a93a09;
}

/*Кнопка добавить в корзину начало*/
.btn_primary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	gap: 10px;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	background-color: #f36223;
	border: none;
	width: 100%;
}

.btn_cart::before {
	content: "";
	background-image: url("../../../../public/resource/images/Cart.svg");
	background-repeat: no-repeat;
	width: 19px;
	height: 18px;
	background-position: center center;
	background-size: contain;
}

.btn_third,
.btn_third:hover,
.btn_third:active,
.btn_third:focus {
	background-color: #888888;
}
/*Кнопка добавить в корзину конец*/

/*Кнопка отправки начало*/
.btn_secondary {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	gap: 10px;
	color: #ffffff;
	background-color: #f36223;
	border: none;
}
/*Кнопка отправки конец*/
