.sidebar-frame {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

.frame__name {
	font-size: 14px;
	line-height: 17px;
	color: #888888;
}

.frame__banner {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
}

.frame__item {
	border: 1px dashed #ccc;
	height: 300px;
}
