.header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 8px;
	background-color: #f0f0f0;
	position: fixed;
	width: 100%;
	z-index: 2;
	box-shadow: 1px 1px 20px #888888;
}
.wrapper {
	display: flex;
	max-width: 1400px;
}
.header__wrapper {
	justify-content: space-between;
	max-height: 80px;
	width: 100%;
	padding: 15px 20px 20px 0;
}

.header__main {
	display: flex;
	gap: 10px;
	justify-content: center;
}

.header__title {
	font-size: 44px;
	line-height: 53px;
}

.header__logo {
	width: 36px;
	height: 43px;
}

.header__icon {
	display: flex;
	gap: 28px;
}

.header__heart {
	display: flex;
	align-items: flex-end;
	position: relative;
}

.header__heart-img {
	width: 44px;
	height: 42px;
}

.header__cart {
	display: flex;
	align-items: flex-end;
	position: relative;
}

.header__heart::after {
	display: none;
	content: attr(data-count);
	background-color: rgba(243, 98, 35, 0.8);
	width: 20px;
	height: 20px;
	padding: 2px 6px;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	right: -10px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

@media (max-width: 1023.9px) {
	.header__heart::after {
		color: transparent;
		width: 10px;
		height: 10px;
		top: 6px;
		right: -4px;
		padding: 0;
	}
}

.header__cart-img {
	width: 52px;
	height: 42px;
}

.header__cart::after {
	display: none;
	content: attr(data-count);
	background-color: rgba(243, 98, 35, 0.8);
	width: 20px;
	height: 20px;
	padding: 2px 6px;
	border-radius: 50%;
	position: absolute;
	top: -1px;
	right: -7px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 500;
}

@media (max-width: 1023.9px) {
	.header__cart::after {
		color: transparent;
		width: 10px;
		height: 10px;
		top: 5px;
		right: -5px;
		padding: 0;
	}
}
.header__cart.show-counter::after {
	display: block;
}

.header__heart.show-counter::after {
	display: block;
}
