/*Отзывы начало*/
.feedback {
	display: flex;
	flex-direction: column;
	padding: 0px;
	gap: 25px;
	max-width: 880px;
	margin-bottom: 60px;
}

.separator {
	display: none;
	border-top: 1px dashed #888888;
	margin-bottom: 40px;
}

.feedbackCard + .feedbackCard .separator {
	display: block;
}

.feedback-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0px;
	gap: 10px;
	font-size: 24px;
	line-height: 29px;
}

.feedback-header__count {
	color: #aaaaaa;
}

.feedback-review {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 40px;
}

/*Стили для карточки*/
.feedback-review__review-card {
	display: grid;
	padding: 0;
	gap: 30px;
	grid-template-areas:
		"img content-header"
		"img content-info";

	grid-template-columns: 140px 1fr;
}

.review-card__userphoto {
	grid-area: img;
	height: 140px;
	width: 140px;
	border-radius: 50%;
}

.review-card__content-header {
	grid-area: content-header;
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 10px;
}

.review-card__content-header h4 {
	font-size: 20px;
	line-height: 24px;
}

.review-card__content-info {
	grid-area: content-info;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/*Стили для рейтинга начало*/
.rating-result {
	display: flex;
	padding: 0;
}

.rating-result__item {
	width: 30px;
}

/*Стили для рейтинга конец*/

.feedback-card__content-info {
	display: flex;
	flex-direction: column;
	padding: 0;
	gap: 10px;
	font-size: 14px;
	line-height: 17px;
}

/*Отзывы конец*/
