/*Стили для сайдбара начало*/
.sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	gap: 40px;
	flex-shrink: 0;
	max-width: 420px;
	width: 100%;
}

/*Стили для сайдбара конец*/
