.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	padding: 0 8px;
	background-color: #f0f0f0;
}

@media (max-width: 1023.9px) {
	.footer {
		margin-top: 40px;
	}
}

.footer__wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 30px 0;
}

@media (max-width: 1023.9px) {
	.footer__wrapper {
		padding: 20px 10px;
	}
}

.footer__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.footer__copyright {
	display: flex;
	flex-direction: column;
}

.footer__copyright-text {
	font-weight: 700;
}

.footer-copiright-paragraph {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1023.9px) {
	.footer-copiright-paragraph {
		display: block;
	}
}
/*Стили для футера конец*/
