/*Таблица сравнения начало*/

.params-section__table {
	border: 1px solid #888888;
	border-collapse: collapse;
}

.table__head-item {
	border: 1px solid #888888;
	border-top: none;
	padding: 10px;
}

.table__cell-item {
	border-left: 1px solid #888888;
	text-align: center;
	padding: 10px;
}

.table__cell-item_left {
	text-align: left;
}

.table__row:hover {
	background-color: #f2f2f2;
}
/*Таблица сравнения конец*/
