*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}

@media (max-width: 1023px) {
	html {
		font-size: 14px;
		line-height: 17px;
	}
}

body {
	margin: 0;
	height: 100vh;
}

button,
input,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	margin: 0;
}

p {
	margin: 0;
}

input,
textarea {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Стили для скрытия элемента начало*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/*Стили для скрытыя элемента конец*/

/*Стили для части заголовка "Мой" начало*/
.accent-text {
	color: #ff5722;
}
/*Стили для части заголовка "Мой" конец*/
