.order-info {
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 15px;
	box-sizing: border-box;
	border: 1px solid #eeeeee;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	width: 100%;
}

.order-info__price {
	display: flex;
	justify-content: space-between;
}
.order-info__price-value {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.price__previous {
	display: flex;
	align-items: center;
	gap: 10px;
}

.price__previous-value {
	line-height: 16px;
	color: #888888;
	text-decoration-line: line-through;
}

.price__previous-discount {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px 8px;
	gap: 10px;
	background-color: #f36223;
	border-radius: 500px;
	line-height: 16px;
	color: #ffffff;
}

.price__current {
	font-size: 32px;
	line-height: 39px;
}

/*Доставка начало*/

.order-info__delivery {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 0px 0px 20px;
}

/*Доставка конец*/
