.main-wrapper {
	max-width: 1400px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 90px 8px 0;
	flex: 1 1 auto;
	height: 100%;
}

/*Медиазапросы*/
@media (max-width: 1499px) {
	.params-section_hidden {
		display: none;
	}

	.product-image__pic-item {
		max-height: 272px;
	}
}

@media (max-width: 1023px) {
	.product-image__pic-item {
		max-height: 250px;
	}
}

@media (min-width: 1024px) and (max-width: 1499px) {
	.product-content {
		gap: 40px;
	}

	.sidebar {
		max-width: 360px;
	}

	.feedback {
		max-width: 594px;
	}

	.review-card__userphoto {
		width: 100px;
		height: 100px;
	}

	.feedback-review__review-card {
		grid-template-columns: 100px 1fr;
	}

	.rating-result__item {
		width: 20px;
	}

	.form,
	.feedback-form {
		max-width: 594px;
	}

	.findings__username {
		max-width: 379px;
	}

	.findings__estimate {
		max-width: 175px;
	}
	.separator {
		margin-left: 130px;
	}
}

@media (max-width: 1023.99px) {
	.header__main {
		gap: 8.5px;
	}

	.header__title {
		font-size: 32px;
		line-height: 34.5px;
	}

	.header__logo {
		width: 24px;
		height: 30px;
	}

	.header__wrapper {
		max-height: 55px;
		padding: 10px 20px 12px 0;
	}

	.header__heart-img {
		width: 24.5px;
		height: 27px;
	}

	.header__icon {
		gap: 15px;
	}

	.header__cart-img {
		width: 25px;
		height: 26px;
	}

	/*Стиля для основного содержимомго сойта начало*/
	.main-wrapper {
		padding: 51px 8px 0;
		width: 100%;
	}

	.product-image__title {
		font-size: 22px;
		line-height: 29px;
	}

	.product-image__pic-item {
		max-height: 272px;
	}

	/*Контейнер с характеристиками и сайдбаром начало*/
	.product-content {
		flex-direction: column-reverse;
		gap: 30px;
	}

	.sidebar-frame {
		display: none;
	}

	.sidebar {
		max-width: 338px;
	}

	.radio-btn__elem-img {
		min-width: 60px;
		min-height: 60px;
	}

	.radio-button__img {
		height: 50px;
	}

	.options {
		gap: 8px;
		flex-wrap: wrap;
	}

	.params-section__title {
		font-size: 14px;
		line-height: 17px;
	}

	.product-content__params {
		gap: 20px;
	}

	/*Карточка отзыва начало*/
	.feedback-review__review-card {
		flex-direction: column;
		gap: 30px;
	}

	.review-card__userphoto {
		height: 60px;
		width: 60px;
	}

	.feedback-review__review-card {
		grid-template-columns: 60px 1fr;
		gap: 15px;
		grid-template-areas:
			"img content-header"
			"content-info content-info";
	}

	.feedback-header {
		font-size: 20px;
		line-height: 24px;
	}

	.rating-result__item {
		width: 20px;
	}

	.feedback-form {
		margin-left: 0;
	}

	.feedback-form__field {
		gap: 15px;
	}

	.feedback-form__findings {
		flex-direction: column;
		gap: 15px;
		height: 94px;
	}

	.separator {
		margin-bottom: 30px;
	}

	.feedback-review {
		gap: 30px;
	}

	.findings__username {
		width: 100%;
	}

	.findings__estimate {
		width: 100%;
	}

	.text__review {
		width: 100%;
	}

	.findings__input {
		padding: 10px 15px;
	}

	.btn_primary {
		font-size: 16px;
		line-height: 19px;
	}

	.footer__info {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.footer__link {
		font-size: 16px;
		line-height: 19px;
	}
}
